body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #34343d;
  color: rgb(255, 255, 255);
  padding: 15px;
}
.navbar ul {
  padding: 8px;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  padding: 20px;
  background-color: rgb(89, 90, 80);
  color: aliceblue;
}

.section {
  background-color: #888888;
  padding: 20px;
  color: aliceblue;
}

.aside {
  background-color:rgb(108, 92, 71);
  padding: 20px;
  color: aliceblue;
}

img {
  width: 100px;
  height: auto;
}

.footer {
  background-color: black;
  color: rgb(255, 255, 255);
  padding: 15px;
  text-align: center;
}
.navbar a {
  color: rgb(237, 228, 228);
  text-decoration: none;
}